body {
 background-color:#1D4221;   
color:white
font-family: "bai jamjuree", sans-serif; 
display: flex: center;
align-intems:center;
height:700px;
margin:0;
}
button{
    background-color: #64a712;
    COLOR: white
}